

<!-- directives -->
<script src="@routes.Assets.at("js/directive/technical/dirEnter/directive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/directive/field/dirFieldDate/directive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/directive/field/dirFieldDateSimple/directive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/directive/field/dirFieldSelect/directive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/directive/field/dirFieldText/directive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/directive/field/dirFieldTextArea/directive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/directive/field/dirFieldCheck/directive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/directive/field/dirFieldImageMutiple/directive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/directive/technical/dirFocusMe/directive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/directive/technical/dirInputNumber/directive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/directive/technical/compile.js")" type="text/javascript"></script>
<!-- form -->
<script src="@routes.Assets.at("js/directive/form/login/LoginFormCtrl.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/directive/form/account/AccountFormCtrl.js")" type="text/javascript"></script>
<!-- component -->

<!-- filters -->
<script src="@routes.Assets.at("js/filter/TextFilter.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/filter/TranslateTextFilter.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/filter/ZeropadFilter.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/filter/ImageFilter.js")" type="text/javascript"></script>

<!-- controllers -->
<script src="@routes.Assets.at("js/MainCtrl.js")" type="text/javascript"></script>


<!-- services -->
<script src="@routes.Assets.at("js/service/AccountService.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/service/ConstantService.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/service/DirectiveService.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/service/FacebookService.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/service/FlashService.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/service/GenerateIdService.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/service/LanguageService.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/service/ModalService.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/service/TranslationService.js")" type="text/javascript"></script>

    <!-- tool -->

    <!-- modal -->
