.modal-header
    button.gling-button-dark.glyphicon.glyphicon-remove(style='float:right', ng-click='close()')
    h4.modal-title {{title | translateText}}
.modal-body.inject-data
.modal-footer
    button#basic-modal-btn-save.btn.gling-button-dark(ng-disabled='loading', type='button', ng-click='save()')
        | {{'--.generic.save' | translateText}}
    img(src='/assets/images/modal-loading.gif', ng-show='loading')
